.input-wrap
    position: relative
    &.is-valid-ok
        &:after
            content: ""
            position: absolute
            top: 50%
            right: -31px
            margin-top: -7px
            +s(valid-ok) 
.input
    display: block
    border: 2px solid #d0d0d0
    padding: 8px 16px 9px
    width: 100%
    background: #fff 
    +border-box
    font: normal 15px Arial,sans-serif
    color: #7c7c7c
    +transition(border .2s linear)
    &:focus
        +placeholder
            +hide-text
        border-color: $yellow
    +placeholder
        font-weight: bold
        color: $black
        font: bold 15px Arial,sans-serif
        
.icon-glass
    display: inline-block
    +s(glass)
.icon-basket-red
    display: inline-block
    +s(basket-red)
.icon-point
    display: inline-block
    +s(map-point)
.icon-phone-small
    display: inline-block
    +s(phone-small)
.icon-clock
    display: inline-block
    +s(clock)

.soc
    font-size: 0
.soc__link
    display: inline-block
    margin-right: 10px
    vertical-align: middle
    &:active
        position: relative
        top: 1px
.soc__vk
    +s(soc-vk)
.soc__fb
    +s(soc-fb)
.soc__tw
    +s(soc-tw)
.soc__od
    +s(soc-od)
.soc__gp
    +s(soc-gp)
.prod-slider
    margin-bottom: 55px
    &.is-special
        .prod-slider__main
            box-shadow: 0 0 0 2px $yellow
        .prod-tab__link
            &.is-active
                box-shadow: -2px 0 0 $yellow
.prod-slider__main
    position: relative
    border-left: 1px solid rgba(219,219,219,0.3)
.prod-tab
    float: left
    font-size: 0
.prod-tab_border
    float: none
    border-bottom: 2px solid $yellow 
.prod-tab__item
    display: inline-block
    margin-right: 12px
    vertical-align: middle 
.prod-tab__link
    display: block
    padding: 2px 7px 
    border: 1px solid #e4e4e4 
    font-size: 13px
    font-weight: bold
    color: $black 
    +border-box
    &:hover
        background: #f7f7f7
         
    &:active
        background: #5a5a5b
        border-color: #5a5a5b
        color: #fff 
    &.is-active   
        padding: 12px 17px 8px
        background: $yellow
        text-transform: uppercase
        border: none
        line-height: 1
        +bold 
        font-weight: normal
        font-size: 20px 
        color: $black 
.prod-tab_single
    float: none
    clear: both
    border-bottom: 2px solid $yellow 


.prod-slider__item
    width: 256px
    .item
        &:hover
            .item__top,
            .item__bottom
                box-shadow: none 
                border-left: 0
        .item__wrap
            border-left: 0
.btn-prev,
.btn-next
    position: absolute
    top: 50%
    margin-top: -10px
    +opacity(.5)
    +transition(opacity .2s linear)
    &:hover
        +opacity(1)
.btn-prev
    +s(arr3)
    left: -25px
.btn-next
    +s(arr4)
    right: -25px
.pager
    float: right
    margin-top: 14px
    font-size: 0
    button
        display: inline-block
        vertical-align: middle
        margin-left: 6px
        width: 12px
        height: 12px
        border: 1px solid rgba(82,82,83,.6)
        border-radius: 50%
        background-color: #ebebeb
        &:hover
            background: #cfd0cf 
    .is-active
        background: #515153 

.item
    position: relative
    margin-right: -1px
    width: 256px
    height: 287px
    &:hover
        z-index: 2
        .item__top
            box-shadow: 0 0 7px rgba(0,49,82,.25)
        .item__bottom
            box-shadow: 3px 2px 7px -2px rgba(0,49,82,0.25), -3px 2px 7px -2px rgba(0,49,82,0.25)
        .item__descr
            display: block
.item__wrap
    position: absolute
    top: 0
    right: 0
    left: 0
    min-height: 287px
    +border-box
    background: #fff 
    border: 1px solid rgba(219,219,219,.3)   
.item__top
    padding: 14px 15px 7px 15px
    +transition(all .2s linear)
.item__title
    height: 35px
    overflow: hidden
.item__link
    font-size: 15px
    color: $blue
    font-weight: bold 
.item__img
    display: block
    height: 145px
    line-height: 145px
    text-align: center
    overflow: hidden
    &:hover 
        img
            +scale(1.1)
    img
        max-width: 100%
        max-height: 100%
        vertical-align: middle
        +gpu
        +transition(all .2s linear)
.item__bottom 
    position: absolute
    top: 200px
    left: 0
    right: 0
    padding: 10px 15px 13px
    //height: 84px
    background: #fbfbfb
    +clr   
    +border-box 
    +transition(all .2s linear)
.item__price  
    float: left  
.item__action    
    float: right
    li 
        margin-bottom: 5px 
    a
        display: inline-block
        color: #5a5a5b
        font-size: 11px
        border-bottom: 1px dotted 
        &:hover
            border-bottom-color: transparent  
.item__descr
    display: none
    clear: both
    padding-top: 13px
    //height: 110px
    //overflow: hidden
    +border-box
    font-size: 11px
    color: $gray 
    //+transition(height .2s linear)
.price
    display: block
    padding: 2px 
    +border-box
    background: $yellow
    font-size: 0 
    +transition(background .2s linear)
    &:hover
        background: #ffcd00 
.price__main
    display: inline-block
    vertical-align: middle
    padding: 5px 3px 5px 10px 
    background: #fff
    min-width: 100px 
    +border-box
    color: $black 
    strong  
        font-size: 24px
    sub
        font-size: 11px
.price_big
    padding: 3px 
    display: inline-block
    .price__main
        padding: 6px 8px 6px 10px 
        strong
            font-size: 36px
        sub
            display: inline-block
            margin-left: 3px
            font-size: 18px
        font-weight: bold
    .icon-basket
        margin: 0 12px 0 15px
.icon-basket  
    display: inline-block
    vertical-align: middle  
    margin: 0 5px 0 9px 
    +s(basket)

.rate
    margin-top: 5px
.rate__stars,
.rate__counter,
.rate__title
    display: inline-block
    vertical-align: middle
.rate__counter
    font-size: 11px
    color: #525253 
.banner
    display: block
    clear: both
    margin: 30px 0
    overflow: hidden
    text-align: center
    img
        max-width: 100%
        max-height: 100%
.banner_under-slider
    margin-top: -15px
.info-section
    padding: 0 0 28px 
    border-top: 1px solid #e2e2e2 
    background: $white url(../img/light-bg.png) 0 0 repeat
.info
    width: 422px
.info__top
    margin-bottom: 19px
    +clr
    border-bottom: 3px solid rgba(26,26,27,.45) 
    padding: 21px 0 12px 
    .simple-tab
        display: inline-block
        vertical-align: middle
.info__title
    display: inline-block
    margin-right: 11px
    vertical-align: middle
    font-size: 20px
    +bold
    color: $black 
    font-weight: normal

.info__text
    margin-top: 32px
    font-size: 13px
    
.simple-tab
    +clr
.simple-tab__item
    float: left
    padding: 3px 10px
    &.is-active
        background: $yellow 
        .simple-tab__link
            border-bottom-color: transparent 
.simple-tab__link
    display: inline-block
    color: $black 
    font-weight: bold
    font-size: 13px
    border-bottom: 1px dotted 
    &:hover
        border-bottom-color: transparent 
    

.news
    margin-top: 17px
    padding: 0 5px 17px 0
    +clr
    border-bottom: 1px solid rgba(150,150,161,.5)
.news__img
    float: left
    margin-right: 15px
    width: 68px
    height: 68px
    text-align: center
    overflow: hidden
    img
        border-radius: 50%
        display: block
        max-width: 100%
        max-height: 100%
.news__main
    overflow: hidden
.news__date
    display: block
    font-size: 11px
    color: #525253 
.news__text
    color: $black 
    &:hover
        text-decoration: underline
    
.link-all
    margin: 10px 0
    padding-left: 83px
    a
        font-size: 13px
        color: $black
        text-decoration: underline
        &:hover
            text-decoration: none
        
.breadcrumbs
    margin: 25px 0 
    a,span,i
        display: inline-block
        position: relative
        vertical-align: middle
        color: $black 
        &:before
            content: ""
            position: absolute 
            left: 0
            top: 0
    a
        text-decoration: underline
        &:hover
            text-decoration: none
    i
        position: relative
        top: 1px
        font-style: normal
        font-weight: bold
        font-size: 15px
        margin: 0 5px 
    .icon-home
        top: 0
        margin: 0 5px 0 0 
    span
        font-weight: bold
.icon-home
    +s(home)
    display: inline-block

.credit-buy
    display: inline-block 
    margin-bottom: 7px
    &:hover
        .credit-buy__title
            background: #323232 
.credit-buy__title
    display: inline-block
    position: relative
    margin-bottom: -1px
    padding: 11px 15px 
    color: #fff    
    background: #535353
    +transition(background .2s linear)
.credit-buy__price
    display: block
    padding: 8px 15px 7px
    background: #fff
    border: 1px solid #d9d9da
    color: $black  
    strong
        display: inline-block
        font-size: 15px
        vertical-align: middle
.icon-delivery
    display: inline-block
    vertical-align: middle
    +s(delivery)

.tab
    +clr
    border-bottom: 2px solid $yellow 
.tab__item
    float: left
    margin-right: 10px
.tab__link
    display: block
    padding: 0 16px 
    height: 40px
    line-height: 40px
    color: $black 
    font-size: 0
    background: #fbfbfb
    &.is-active
        background: $yellow 
        span
            border-bottom-color: transparent
        &:hover
            background: $yellow  
    &:hover
        background: #f7f7f7 
        span
            border-bottom-color: transparent
    span
        display: inline-block
        vertical-align: middle
        line-height: 1
        font-size: 15px
        font-weight: bold
        border-bottom: 2px dotted 
    i
        vertical-align: middle
        margin-right: 11px
    
.icon-descr
    display: inline-block
    +s(descr)
.icon-char
    display: inline-block
    +s(char)
.icon-review
    display: inline-block
    +s(review)
.tab-cont
    display: none
    padding-top: 30px
.tab-cont_no-padding
    padding-top: 0
    .item-row
        &:first-child
            border-top: 0
.article
    p
        margin-bottom: 17px
        
.block
    margin-bottom: 15px
    padding: 17px
    background: #fbfbfb  
    box-shadow: 0 2px 4px rgba(0,0,0,.18)
    &.is-best
        border: 2px solid $yellow
.block__title 
    margin-bottom: 9px
    font-weight: bold
    font-size: 15px
.prod-small
    display: block
    +clr
    padding: 13px 0 10px 
    border-top: 1px solid #f4f4f4
    &:hover
        .prod-small__title  
        span
            text-decoration: none
.prod-small__img
    float: left
    margin-right: 10px
    width: 46px
    height: 46px
    text-align: center
    line-height: 46px
    overflow: hidden
    background: #fff
    border: 1px solid #e5e5e5 
    img
        vertical-align: middle
        max-width: 100%
        max-height: 100%
.prod-small__main
    overflow: hidden
.prod-small__title  
    display: block
    margin-bottom: 1px
    color: $blue
    font-size: 13px
    span
        display: inline-block
        text-decoration: underline  
.prod-small__price
    display: inline-block
    padding: 3px 4px 
    background: $yellow 
    color: $black
.side-banner
    overflow: hidden
    img
        display: block
        
.text-item
    float: left
    margin-bottom: 64px
    width: 33%
    +border-box
    padding-left: 25px
    &:first-child
        padding-left: 0
.text-item__title
    margin-bottom: 14px
    border-bottom: 2px solid $yellow
    font-weight: normal
    +bold
    span
        display: inline-block
        padding: 11px 17px 9px
        font-size: 15px
        text-transform: uppercase
        background: $yellow 
        
.drop-list
    position: relative
    display: inline-block
    padding-right: 14px
    
.drop-list__btn
    position: relative
    display: block
    background: #747475
    font-size: 12px
    color: #fff 
    font-weight: bold 
    border-right: 1px solid #6d6d6d 
    span
        display: block
        padding: 1px 5px
    &:after,
    &:before
        content: ""
        position: absolute
    &:before
        right: -15px
        top: 0
        width: 13px
        height: 17px
        background: #747475
        border-right: 1px solid #848484 
    &:after
        position: absolute
        top: 50%
        right: -9px
        margin-top: -2px
        width: 0px
        height: 0px
        border-style: solid
        border-width: 4px 2px 0 2px
        border-color: #fff transparent transparent transparent

.drop-list__main
    display: none
    position: absolute
    left: 0
    top: 17px
    right: 0
    z-index: 100
    background: #747475
    li
        padding: 3px 5px
        color: #fff
        cursor: pointer 
        &:hover
            box-shadow: inset 0 0 4px rgba(0,0,0,.4)
            
.pseudo-link
    position: relative
    display: inline-block
    border-bottom: 1px dotted
    cursor: pointer
    color: $blue
    font-size: 13px
    &:hover
        border-bottom-color: transparent  
    .icon-blue-arr
        position: absolute
        right: -10px
        top: 7px
.cart-sort__digit
    display: inline-block
    margin-left: 4px
    padding: 2px 
    vertical-align: middle
    font-size: 12px
    font-weight: bold
    color: #fff 
    background: #747475
.catalog-wrap
    .item
        float: left
        width: 33.3%
        &:nth-child(2n+3)
            width: 33.7%
            
.pagin
    position: relative
    margin-bottom: 30px
    background: #fbfbfb
    border: 1px solid #f1f1f1 
    border-bottom: 0
    padding: 13px 20px 
    +clr 
    font-size: 0
    text-align: center
    &:before
        content: ""
        position: absolute
        top: 31px
        left: 15px
        right: 15px
        height: 15px
        z-index: -1
        +border-radius(40%)
        box-shadow: 0 0 10px rgba(0,0,0,.5)
    a
        display: inline-block
        margin-left: 5px
        width: 22px
        height: 22px
        text-align: center
        line-height: 22px
        font-size: 15px
        font-weight: bold
        vertical-align: middle
        text-decoration: underline
        &:hover
            text-decoration: none
        &.is-active
            color: $black
            text-decoration: none 
            +g($yellow_light, $yellow)
        &.is-inactive
            cursor: default
            color: #ccc 
    .pagin__nav
        width: auto
        margin-left: 0 
        font-weight: normal
.pagin__prev
    float: left
.pagin__next
    float: right
    
.checkbox-wrap
    display: block
    margin-bottom: 6px
.checkbox
    position: relative
    display: inline-block
    input
        position: absolute
        left: 0
        top: 0
        z-index: 2
        border: 1px solid #f00
        opacity: 0
        &:checked
            + span
                font-weight: bold
                +no-select
                &:after
                    content: ""
                    position: absolute
                    top: 3px
                    left: 1px
                    +s(check)
        &:disabled
            + span
                //color: #aeaeae
                opacity: .4 
    span
        position: relative
        padding-left: 28px
        left: 0
        top: 0
        font-size: 13px
        &:before
            content: ""
            position: absolute 
            left: 0
            top: 0
            width: 12px
            height: 12px
            border: 1px solid #adadad
            +border-radius(2px)
            background: #fff 
    sup
        position: relative
        top: -5px
        font-size: 10px
    a
        display: inline-block
        border-bottom: 1px dotted 
.checkbox_mod
    input
        &:checked
            + span
                font-weight: normal
    span
        padding-left: 22px
        color: #656565     
        font-size: 11px
        font-weight: normal
.item-row
    position: relative
    border: 1px solid #f4f4f4
    margin-bottom: -1px
    +transition(box-shadow .2s linear)
    +clr
    &:hover
        position: relative
        z-index: 2
        box-shadow: 0 0 7px rgba(0,49,82,.25)
.item-row_width
    .item-row__left
        width: 67%
    .item-row__img
        width: 165px
    .price__main
        padding-right: 15px
    .item-row__right
        padding-right: 37px
    &:before
        content: "" 
        position: absolute
        top: 0
        bottom: 0
        right: 282px
        width: 1px
        background: #f4f4f4 
.item-row__img
    float: left
    width: 200px
    height: 200px
    +border-box
    overflow: hidden
    text-align: center
    line-height: 200px
    margin-right: -1px
    border-right: 1px solid #f4f4f4
    &:hover
        img
            +scale(1.05)
    img
        vertical-align: middle
        max-width: 90%
        height: auto
        +gpu
        +transition(all .2s linear)
.item-row__main
    overflow: hidden
    +clr
    border-left: 1px solid #f4f4f4
    p
        margin-bottom: 14px
.item-row__left
    float: left
    padding: 15px 15px 15px 20px 
    width: 66%
    +border-box
    color: $gray 
.item-row__title
    margin-bottom: 7px
    font-size: 17px
.item-row__right
    overflow: hidden
    padding: 0 0 10px 18px
    border-left: 1px solid #f4f4f4 
    margin-top: 40px
    .price
        display: inline-block
        margin-bottom: 5px
.item-row__action
    a
        margin-right: 7px
        font-size: 11px
        display: inline-block
        color: $gray
        border-bottom: 1px dotted
        &:hover
            border-bottom: 0
.item-row__del
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: 37px
    background: #fbfbfb 
    +transition(background .2s linear)
    &:hover
        background: #f2f2f2 
        
.btn
    display: inline-block
    padding: 11px 36px 
    font-size: 15px
    font-weight: bold
    color: $black 
    background: $yellow 
    +transition(background .2s linear)
    &:hover
        background: $yellow_light 
    &:active
        position: relative
        top: 1px
.icon-del
    display: inline-block
    vertical-align: middle
    +s(del)

        
.select
    position: relative
    cursor: pointer
    font-size: 15px
    font-weight: bold
    &.is-active
        .select__text
            &:after
                +rotate(180)
.select__text
    position: relative
    display: block
    padding: 0 25px 0 11px 
    height: 38px
    line-height: 38px
    border: 2px solid #d0d0d0
    background: #fff
    +border-box
    +no-select
    &:after
        content: ""
        position: absolute
        right: 15px
        top: 50%
        margin-top: -2px
        width: 0px
        height: 0px
        border-style: solid
        border-width: 8px 4px 0 4px
        border-color: #000 transparent transparent transparent
        +transition(all 0.1s linear)
.select__list
    position: absolute
    display: none
    left: 0
    right: 0
    top: 40px
    z-index: 100
    border: 2px solid #d0d0d0
    background: #fff
    border-bottom: 0
    li
        padding: 9px 11px 
        cursor: pointer
        border-bottom: 2px solid #d0d0d0
        +transition(background .2s linear)
        &:hover
            background: #eee
            
.input_textarea
    resize: vertical
    min-height: 125px
    max-height: 250px
    clear: both
.textarea-wrap
    padding-top: 17px
    clear: both
    
.input-text
    margin-bottom: 9px
    
.choose
    position: relative
    display: inline-block
    vertical-align: middle
    height: 26px
    +border-box
    padding: 2px 25px 2px 2px 
    background: #d0d0d0 
.choose__input
    display: block
    height: 22px
    width: 26px
    text-align: center
    font-size: 18px
.choose__plus,
.choose__minus
    position: absolute
    right: 9px
    width: 0px
    height: 0px
    border-style: solid
    background: none
.choose__plus
    top: 5px
    border-width: 0 4px 6px 4px
    border-color: transparent transparent #fff transparent
.choose__minus
    bottom: 5px
    border-width: 6px 4px 0 4px
    border-color: #fff transparent transparent transparent
.is-hidden
    display: none