.input-wrap
    position: relative
.input
    display: block
    border: 2px solid #d0d0d0
    padding: 0 16px 
    width: 100%
    height: 37px
    background: #fff 
    +border-box
    font: normal 15px Arial,sans-serif
    color: $black 
    +placeholder
        font-weight: bold
        color: $black
        font: bold 15px Arial,sans-serif
        
.icon-glass
    display: inline-block
    +s(glass)
.icon-basket-red
    display: inline-block
    +s(basket-red)
.icon-point
    display: inline-block
    +s(map-point)
.icon-phone-small
    display: inline-block
    +s(phone-small)
.icon-clock
    display: inline-block
    +s(clock)

.soc
    font-size: 0
.soc__link
    display: inline-block
    margin-right: 10px
    vertical-align: middle
    &:active
        position: relative
        top: 1px
.soc__vk
    +s(soc-vk)
.soc__fb
    +s(soc-fb)
.soc__tw
    +s(soc-tw)
.soc__od
    +s(soc-od)
.soc__gp
    +s(soc-gp)
.prod-slider
    margin-bottom: 55px
.prod-slider__main
    position: relative
.prod-title
    float: left
    font-size: 0
.prod-title__item
    display: inline-block
    margin-right: 12px
    vertical-align: middle 
.prod-title__link
    display: block
    padding: 2px 7px 
    border: 1px solid #e4e4e4 
    font-size: 13px
    font-weight: bold
    color: $black 
    +border-box
    &:hover
        background: #5a5a5b
        border-color: #5a5a5b
        color: #fff  
    &.is-active   
        padding: 12px 17px 8px
        background: $yellow
        text-transform: uppercase
        border: none
        line-height: 1
        +bold 
        font-weight: normal
        font-size: 20px 
        color: $black 
.prod-slider__item
    width: 256px
.prod-slider__prev,
.prod-slider__next
    position: absolute
    top: 50%
    margin-top: -10px
.prod-slider__prev
    +s(arr3)
    left: -25px
.prod-slider__next
    +s(arr4)
    right: -25px
.pager
    float: right
    margin-top: 14px
    font-size: 0
    button
        display: inline-block
        vertical-align: middle
        margin-left: 6px
        width: 12px
        height: 12px
        border: 1px solid rgba(82,82,83,.6)
        border-radius: 50%
        background-color: #ebebeb
    .is-active
        background: #515153 

.item
    position: relative
    margin-right: -1px
    width: 256px
    height: 287px
.item__wrap
    position: absolute
    top: 0
    right: 0
    left: 0
    height: 287px
    +border-box
    background: #fff 
    overflow: hidden
    border: 1px solid #f8f8f8
    //+transition(height .2s linear)
    &:hover
        height: 393px
        .item__bottom
            height: 190px
        .item__descr
            //height: 110px
.item__top
    padding: 14px 15px 7px 15px
.item__title
    height: 35px
    overflow: hidden
.item__link
    font-size: 15px
    color: $blue
    font-weight: bold 
.item__img
    display: block
    height: 145px
    line-height: 145px
    text-align: center
    overflow: hidden
    &:hover 
        img
            +scale(1.1)
    img
        max-width: 100%
        max-height: 100%
        vertical-align: middle
        +gpu
        +transition(all .2s linear)
.item__bottom 
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 10px 15px 
    height: 84px
    background: #fbfbfb
    +clr   
    +border-box 
.item__price  
    float: left  
.item__action    
    float: right
    li 
        margin-bottom: 5px 
    a
        display: inline-block
        color: #5a5a5b
        font-size: 11px
        border-bottom: 1px dotted  
.item__descr
    clear: both
    padding-top: 12px
    height: 110px
    overflow: hidden
    +border-box
    font-size: 11px
    color: $gray 
    //+transition(height .2s linear)
.price
    display: block
    padding: 2px 
    +border-box
    background: $yellow
    font-size: 0 
.price__main
    display: inline-block
    vertical-align: middle
    padding: 5px 3px 5px 10px 
    background: #fff
    min-width: 100px 
    +border-box
    color: $black 
    strong  
        font-size: 24px
    sub
        font-size: 11px
.price_big
    padding: 3px 
    display: inline-block
    .price__main
        padding: 6px 8px 6px 10px 
        strong
            font-size: 36px
        sub
            display: inline-block
            margin-left: 3px
            font-size: 18px
        font-weight: bold
    .icon-basket
        margin: 0 12px 0 15px
.icon-basket  
    display: inline-block
    vertical-align: middle  
    margin: 0 5px 0 9px 
    +s(basket)

.rate
    margin-top: 5px
.rate__stars,
.rate__counter
    display: inline-block
    vertical-align: middle
.rate__counter
    font-size: 11px
    color: #525253 
.banner
    margin: 30px 0
    overflow: hidden
    text-align: center
    img
        max-width: 100%
        max-height: 100%
.banner_under-slider
    margin-top: -15px
.info-section
    padding: 0 0 28px 
    border-top: 1px solid #e2e2e2 
    background: $white url(../img/light-bg.png) 0 0 repeat
.info
    width: 422px
.info__top
    margin-bottom: 19px
    +clr
    border-bottom: 3px solid rgba(26,26,27,.45) 
    padding: 21px 0 12px 
    .simple-tab
        display: inline-block
        vertical-align: middle
.info__title
    display: inline-block
    margin-right: 11px
    vertical-align: middle
    font-size: 20px
    +bold
    color: $black 
    font-weight: normal

.info__text
    margin-top: 32px
    font-size: 13px
    
.simple-tab
    +clr
.simple-tab__item
    float: left
    padding: 3px 10px
    &.is-active
        background: $yellow 
        .simple-tab__link
            border-bottom-color: transparent 
.simple-tab__link
    display: inline-block
    color: $black 
    font-weight: bold
    font-size: 13px
    border-bottom: 1px dotted 
    

.news
    margin-top: 17px
    padding: 0 5px 17px 0
    +clr
    border-bottom: 1px solid rgba(150,150,161,.5)
.news__img
    float: left
    margin-right: 15px
    width: 68px
    height: 68px
    text-align: center
    overflow: hidden
    img
        border-radius: 50%
        display: block
        max-width: 100%
        max-height: 100%
.news__main
    overflow: hidden
.news__date
    display: block
    font-size: 11px
    color: #525253 
.news__text
    color: $black 
    
.link-all
    margin: 10px 0
    padding-left: 50px
    a
        font-size: 13px
        color: $black
        text-decoration: underline
        
.breadcrumbs
    margin: 25px 0 
    a,span,i
        display: inline-block
        position: relative
        vertical-align: middle
        color: $black 
        &:before
            content: ""
            position: absolute 
            left: 0
            top: 0
    a
        text-decoration: underline
    i
        position: relative
        top: 1px
        font-style: normal
        font-weight: bold
        font-size: 15px
        margin: 0 5px 
    .icon-home
        top: 0
        margin: 0 5px 0 0 
    span
        font-weight: bold
.icon-home
    +s(home)
    display: inline-block

.credit-buy
    display: inline-block
    margin-bottom: 7px
.credit-buy__title
    display: inline-block
    position: relative
    margin-bottom: -1px
    padding: 11px 15px 
    color: #fff    
    background: #535353
.credit-buy__price
    display: block
    padding: 8px 15px 7px
    background: #fff
    border: 1px solid #d9d9da
    color: $black  
    strong
        display: inline-block
        font-size: 15px
        vertical-align: middle
.icon-delivery
    display: inline-block
    vertical-align: middle
    +s(delivery)

.tab
    +clr
    border-bottom: 2px solid $yellow 
.tab__item
    float: left
    margin-right: 10px
.tab__link
    display: block
    padding: 0 16px 
    height: 40px
    line-height: 40px
    color: $black 
    font-size: 0
    background: #fbfbfb
    &.is-active
        background: $yellow 
        span
            border-bottom-color: transparent
    span
        display: inline-block
        vertical-align: middle
        line-height: 1
        font-size: 15px
        font-weight: bold
        border-bottom: 2px dotted 
    i
        vertical-align: middle
        margin-right: 11px
    
.icon-descr
    display: inline-block
    +s(descr)
.icon-char
    display: inline-block
    +s(char)
.icon-review
    display: inline-block
    +s(review)
.tab-cont
    padding-top: 30px
.article
    p
        margin-bottom: 17px
        
.block
    margin-bottom: 15px
    padding: 17px
    background: #fbfbfb  
    box-shadow: 0 2px 4px rgba(0,0,0,.18)
    &.is-best
        border: 2px solid $yellow
.block__title
    margin-bottom: 9px
    font-weight: bold
    font-size: 15px
.prod-small
    display: block
    +clr
    padding: 13px 0 10px 
    border-top: 1px solid #f4f4f4
.prod-small__img
    float: left
    margin-right: 10px
    width: 46px
    height: 46px
    text-align: center
    line-height: 46px
    overflow: hidden
    background: #fff
    border: 1px solid #e5e5e5 
    img
        vertical-align: middle
        max-width: 100%
        max-height: 100%
.prod-small__main
    overflow: hidden
.prod-small__title  
    display: block
    margin-bottom: 1px
    color: $blue
    font-size: 13px
    span
        display: inline-block
        text-decoration: underline  
.prod-small__price
    display: inline-block
    padding: 3px 4px 
    background: $yellow 
    color: $black
.side-banner
    overflow: hidden
    img
        display: block