.overlay
    position: fixed
    z-index: 1000
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: #000
    +opacity(.5) 
.popup
    position: absolute
    z-index: 2000
    width: 940px
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding: 20px 31px 20px 20px
    margin: auto 
    width: 940px
    height: 561px
    background: #fff
    +border-box
    +box-shadow(0 1px 1px #000)
    