.prod
    margin-bottom: 39px

.prod__title,
.prod__articul
    display: inline-block
    vertical-align: middle
.prod__title
    padding: 12px 17px 8px
    background: $yellow
    text-transform: uppercase
    line-height: 1
    +bold 
    font-weight: normal
    font-size: 20px 
    color: $black 
    margin-right: 10px
.prod__articul
    font-size: 12px

.prod__main
    padding: 15px
    border: 1px solid #e5e5e5 
.prod__left
    float: left
.prod__right
    float: right
    width: 336px
.prod-info
    margin-bottom: 26px
    padding: 15px 20px
    background: #fbfbfb
    +border-box
    .price
        margin: 12px 0 10px
.prod-info__delivery
    margin: 12px 0
    padding: 17px 0 12px
    border-top: 1px solid #e5e5e5
    border-bottom: 1px solid #e5e5e5
    .icon-delivery
        margin-right: 7px
    ul
        margin-top: 12px
    li
        margin-bottom: 2px
        color: #535354 
    a
        display: inline-block
        border-bottom: 1px dotted
.prod-info__link
    display: inline-block
    margin-right: 20px
    color: #535354
    border-bottom: 1px dotted 
    